
body {
  background-image:url('../img/background.jpg');




}


.jumbotron p {
  color: #fff;
  font-family: Audimat;
  font-size: 20px;
}
.jumbotron h1 {
  color: #fff;
}


#bigjumbo {
  background: rgba(185, 150, 105, 0.4);
  margin:30px;

}

#jLeft {
  background: rgba(34, 38, 75, 0.3);




}
#jRight {
  background: rgba(34, 38, 75, 0.3);


}
#jMiddle {
  background: rgba(34, 38, 75, 0.3);
  

}




.navbar  {
  margin-bottom: 0px;
  background: rgba(34, 38, 75, 0.5);

}

.nav a {
    font-weight: bolder;
    color: white;
}

.nav-pills {
  color:white;
}

.round {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;

}

p {
  text-align: center;
  font-size: 20px;

}

#jFix {





}
